{% if user.is_authenticated %}
    <li><a href="/account">{{user.username|title}}</a></li>
    <li><a href="/#experience">Experience</a></li>
    <li><a href="{% url 'main:resume' %}">Resume</a></li>
    <li><a href="/logout">Log out</a></li>
    <li><a href="/vrp">Vehicles!</a></li>
    <li><a href="/stocks">Stocks!</a></li>
{% else %}
    <li><a href="/">Homepage</a></li>
    <li><a href="/#experience">Experience</a></li>
    <li><a href="{% url 'main:resume' %}">Resume</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/vrp">Vehicles!</a></li>
    <li><a href="/stocks">Stock Analysis!</a></li>
    <li><a href="/uni_admin">Grad School!</a></li>
{% endif %}